@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles or a specific module */
.scrollbar-hide {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  /* Chrome, Safari, and Opera */
  display: none;
}
